{
    "sessionAuthHost": "develop2-api.symphony.com",
    "sessionAuthPort": 443,
    "keyAuthHost": "develop2.symphony.com",
    "keyAuthPort": 443,
    "podHost": "develop2.symphony.com",
    "podPort": 443,
    "agentHost": "develop2.symphony.com",
    "agentPort": 443,
    "authType": "rsa",
    "botPath": "{{{botPath}}}",
    "botName": "{{{botName}}}",
    "botPassword": "{{{botPassword}}}",
    "botPrivateKeyPath": "{{{botPrivateKeyPath}}}",
    "botPrivateKeyName": "{{{botPrivateKeyName}}}",
    "botUsername": "{{{botUsername}}}",
    "botEmailAddress": "{{{botEmailAddress}}}",
    "appCertPath": "",
    "appCertName": "",
    "appCertPassword": "",
    "proxyURL": "",
    "proxyUsername": "",
    "proxyPassword": "",
    "authTokenRefreshPeriod": "30"
}
